* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parentContainer {
    margin: 0px !important;
    padding: 0px !important;
    max-width: 100% !important;
}
#videoContainer {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 100vw;
}

#sidebar {
    background-color: #1a1a1a;
    overflow-y: auto;
    display: flex;
    /* justify-content: space-around; */
}

#videobar {
    background-color: #121212 !important;
    overflow-y: auto;
    scrollbar-color: var(--secondary) #121212;
}

#videobar::-webkit-scrollbar {
    background: #121212;
}

#videobar::-webkit-scrollbar-thumb {
    background: var(--secondary);
}

.square-button {
    padding: 0.5rem;
    margin: auto;
}

.square-button > button {
    width: 4rem;
    height: 4rem;
}

.square-button > button,
.flex-button {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

#potato-button > img {
    height: 2rem;
}

/*Tab Content Start*/
.tab-content {
    width: 100%;
    flex-grow: 1;
    flex-basis: 0;
    overflow-y: auto;
}

.tab-content::-webkit-scrollbar {
    background: #121212;
    width: 8px;
}

.tab-content::-webkit-scrollbar-thumb {
    background: var(--secondary);
}
/*Tab Content End*/

/*Close Button modal*/
.btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em;
    color: #000;
    background: transparent
        url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3E%3Cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3E%3C/svg%3E")
        50%/1em auto no-repeat;
    border: 0;
    border-radius: 0.25rem;
    opacity: 0.5;
}

.btn-close:hover {
    color: #000;
    text-decoration: none;
    opacity: 0.75;
}

.btn-close:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    opacity: 1;
}

.btn-close.disabled,
.btn-close:disabled {
    pointer-events: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 0.25;
}

.btn-close-white {
    filter: invert(1) grayscale(100%) brightness(200%);
}

/*Close Button Modal*/
@media only screen and (min-device-width: 600px) and (orientation: landscape) {
    #videoContainer {
        grid-template-columns: auto 1fr;
        grid-template-rows: 100%;
    }

    #sidebar {
        flex-direction: column;
    }

    #videobar {
        overflow-y: auto;
        display: flex;
        align-items: center;
    }
}
/*Playlist Modal*/
.playlistModal > .modal-content {
    height: calc(100vh - 3.5rem);
}

#playlistLeft {
    display: flex;
    flex-direction: column;
    min-width: 0px;
    flex: 2 0 0;
}

#playlist {
    overflow-y: auto;
    padding: 1rem;
    height: 100%;
}

#details {
    background-color: #26303b;
    margin: 0.5rem 1rem;
}
#subtitleDetails {
    background-color: #263b34;
    border: 1px solid #00a57c;
    margin: 0.5rem 1rem;
}

@media only screen and (min-device-width: 600px) and (orientation: landscape) {
    /* wide devices */

    .playlistModal {
        max-width: unset;
        width: 90vw;
    }

    #detailsRight {
        padding: 1rem;
        border-left: 1px solid var(--primary);
        background-color: #26303b;
        display: flex;
        flex-direction: column;
        flex: 1 0 0;
        min-width: 300px;
    }
    #subtitleRight {
        padding: 1rem;
        border-left: 1px solid #00bc8c;
        background-color: #263b34;
        display: flex;
        flex-direction: column;
        flex: 1 0 0;
        min-width: 300px;
    }
}

/*Playlist Modal End*/
@media only screen and (min-device-width: 1200px) and (orientation: landscape) {
    #videoContainer {
        grid-template-columns: minmax(max-content, 1fr) 6fr;
        grid-template-rows: 100%;
    }

    #sidebar {
        padding: 0 0.5rem;
    }

    .square-button {
        width: 100%;
        padding: 0;
    }

    .square-button > button,
    .flex-button {
        width: 100%;
        height: auto;
        justify-content: start;
        padding: 0.5rem 1rem;
    }
}
/* Menu Css */
.menu-parent {
    max-width: 100%;
}

/*Home Page*/
#splashContainer {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-between;
    min-height: 100vh;

    background: #232526; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#splashContainer > * {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#nicknameContainer {
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #232526; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
@media only screen and (min-device-width: 600px) and (orientation: landscape) {
    #splashContainer {
        min-height: calc(100vh - 80px);
        display: grid;
        grid-template-rows:
            auto minmax(1rem, 1fr) minmax(max-content, 40vh) minmax(1rem, 1fr)
            auto;
        grid-template-columns:
            minmax(0px, 10vw) minmax(auto, 1fr) 1rem minmax(auto, 1fr)
            minmax(0px, 10vw);
        grid-template-areas:
            "h h h h h"
            "gt gt gt gt gt"
            "gl host gc connect gr"
            "gb gb gb gb gb"
            "f f f f f";
        padding-left: 0;
        padding-right: 0;
    }

    #splashContainer > * {
        margin-top: 0;
        margin-bottom: 0;
    }

    #header {
        grid-area: h;
    }

    #card_host {
        grid-area: host;
    }

    #card_connect {
        grid-area: connect;
    }

    #footer {
        grid-area: f;
    }
}
hr {
    border: 1px solid #375a7f;
}
.border-primary {
    border: 1px solid #414141 !important;
}
